// header
header
    img(src="", alt="")
nav
    .container
        ul
            each item in data.header.menu 
                if item.type === "text"
                    li
                        a(href=item.link)=item.title  
                if item.type === "input"
                    li
                        input(type="text")
                        a(href=item.link)=item.title  

                 
// end header